main .new-tweet {
  display: none;
  margin-top: 10px;
  width: calc(100% - 4em);
  height: 180px;
  margin-left: 2em;
  border-radius: 10px;
  border: 1px solid silver;
}

main h2{
  width: 90%;
  margin-left: 15px;
  margin-top: 2%;
  border-bottom: 1px solid silver;
}

.new-tweet #position {
  height: 100%;
  width: 100%;
}

main .new-tweet textarea {
  width: 90%;
  margin-left: 15px;
  height: 70px;
  
}

.new-tweet input {   
  margin-left: 15px;
  margin-top: 10px;
}

.new-tweet span {
  float: right;
  padding-right: 25px;
  line-height: 45px;
}