.tweet-container {
  position: absolute;
  width: calc(100% - 4em);
  height: 180px;
  margin-left: 2em;
  border-radius: 10px;
  border: 1px solid grey;
  top: 250px;
}



.tweet-container .header {
  position: absolute;
  background: silver;
  top: 0px;
  width: 100%;
  height: 30%;
  margin-left: 0;
  border: solid silver 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  opacity: 0.6;
}

.tweet-container .header img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  padding-top: 5px;
  border-radius: 10px;
}

.tweet-container .header .namePerson {
  position: absolute;
  top: 0px;
  margin-top: 5px;
  padding-left: 70px;
  font-size: 1.5em;
}

.tweet-container .header .idPerson {
position: absolute;
top: 0px;
right: 5px;
}


.tweet-container .message {
  position: absolute;
  margin: 0;
  margin-left: 10px;
  bottom: 30%;

}

.tweet-container .footer {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  border-top: solid silver 1px;
}

.tweet-container .footer p {
  position: absolute;
  margin-left: 10px;
  bottom: -10px;
  border: none;
}

.tweet-container .footer .icons {
  position: absolute;
  width: 60px;
  margin-top: 10px;
  right: 10px;
  border: none;
  opacity: 0;
  
}


.tweet-container:hover {
  border: solid 2px grey;
  font-weight: bold;
  opacity: 1;
}

.tweet-container:hover .icons {
  opacity: 1;
}